.red {
  background-color: oklch(62.793% 0.25768 29.223);
}

.blue {
  background-color: oklch(45.203% 0.3133 264.073);
}

.gray {
  background-color: oklch(59.987% 0.00007 271.152);
}

.medium-violet-red {
  background-color: oklch(55.335% 0.2217 349.67);
}

.midnight-blue {
  background-color: oklch(28.813% 0.14368 272.778);
}
